.container{
    text-align: center;
    margin: 2%;
    font-size: 20px;
    background-image: url(../../../assets/tecno34.jfif);
    color: #ffee00;
}

.row{
    margin: 3%;
}
.lbl {
    
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  .txtbox {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .btn {
    width: 28%;
    padding: 12px;
    cursor: pointer;
  }
  
  .cmbbox {
    width: 27%;
    padding: 12px;
    border: 1px solid #ccc;
  }
  .radiobtn {
    margin-top: 1%;
  }
  
  .una-linea {
    display:inline-block;
  }

  .is-invalid {
    border: 1px solid #ffee00;
  }
  
  .text-danger {
    display: block;
    margin-right: 13%;
    padding-top: 2px;
    color: #fffb00;
  }
  .iconos2{
    padding: 1%;
    font-size: 50px;
    display: block;
    letter-spacing: 20px;
    cursor: pointer;
    padding-left: 80px;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    color: black;
}
.footer1{
    color: black;
     background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;

}

@media (max-width:767px) {
  .footer1{
      color: black;
       background: -webkit-linear-gradient(to right, #a80000, #000000);
      background: linear-gradient(to right, #a80000, #000000);
      font-size: 19px;
      margin-left: 0px;
      margin-right:0px;
  
  }
}
@media (max-width:320px) {
  .is-invalid {
    border: 1px solid #ffee00;
    font-size: 15px;
  }
  
  .text-danger {
    display: block;
    margin-right: 13%;
    padding-top: 2px;
    color: #fffb00;
    font-size: 15px;
  }
  .container{
    text-align: center;
    margin: 2%;
    font-size: 15px;
    color: #ffee00;
}
.footer1{
  color: black;
   background: -webkit-linear-gradient(to right, #a80000, #000000);
  background: linear-gradient(to right, #a80000, #000000);
  font-size: 19px;


}
.iconos2{
  padding: 1%;
  font-size: 40px;
  display: block;
  letter-spacing: 20px;
  cursor: pointer;
  padding-left: 80px;
  background: -webkit-linear-gradient(to right, #a80000, #000000);
  background: linear-gradient(to right, #a80000, #000000);
  color: black;
}
}