<div class="container">
    <form  [formGroup]="forma"(ngSubmit)="guardar()">

        <div class="row">
            <div class="col-5">
                <label for="fname" class="lbl">Nombre</label>
            </div>
            <div>
                <input type="text" id="fname" placeholder="Nombre" class="txtbox" formControlName="nombre"
                    [class.is-invalid]="nombreNoValido">
                <small class="text-danger" *ngIf="nombreNoValido">
                    Ingrese mas de 10 letras
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label for="flastName" class="lbl">Apellido</label>
            </div>
            <div>
                <input type="text" id="flastName" placeholder="Apellido" class="txtbox" formControlName="apellido"
                    [class.is-invalid]="apellidoNoValido">
                <small class="text-danger" *ngIf="apellidoNoValido">
                    Ingrese mas de 10 letras
                </small>

            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label for="femail" class="lbl">Email</label>
            </div>
            <div>
                <input type="text" id="femail" placeholder="Correo Electronico" class="txtbox" formControlName="correo"
                    [class.is-invalid]="correoNoValido">
                <small class="text-danger" *ngIf="correoNoValido">
                    Ingrese un email valido
                </small>
            </div>
        </div>
        <br>
        <textarea id="mensaje" cols="30" rows="10" placeholder="Ingrese un mensaje" required="" maxlength="250"
            class="caja" formControlName="mensaje">
        </textarea>
        <div class="row">
            <div *ngIf="registerSend" class="alinea-btn">
                <button type="submit" class="btn" [disabled]="forma.invalid">Guardar</button>
            </div>
            <div *ngIf="!registerSend" class="alinea-btn">
                <button type="button" class="btn">Formulario enviado con exito</button>
            </div>
        </div>
    </form>
</div>
    <div class="footer1">
        <br>
        <hr>
        <footer>
            <div>
                <p class="footer2">
                    Contactanos por facebook twitter instagran
                    para mas informacion
                </p>
    
                <ul class="footer1">
                    <li>Creador:Royer</li>
                    <br>
                    <li>Correo:Mono231@gmail.com</li>
                </ul>
                <div class="iconos2">
                    <a href="https://es-la.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>