 .Clase{
     width: 100%;
     background: -webkit-linear-gradient(to right, #a80000, #8b0000);
     background: linear-gradient(to right, #a80000, #a00303);
     overflow: auto;
     margin-top: 15px;
 }
 
 .Clase a{
     float: left;
     text-align: center;
     padding: 5px;
     color: rgb(0, 0, 0);
     text-decoration: none;
     font-size: 25px;
     background: -webkit-linear-gradient(to right, #a80000, #b30000);
     background: linear-gradient(to right, #a80000, #990202);
     margin-left: 5%;
 }
 
 .active{
    background: -webkit-linear-gradient(to right, #a80000, #770f0f);
    background: linear-gradient(to right, #a80000, #770f0f);
     color: rgb(0, 0, 0);
 }
 @media (max-width:768px) {
    .Clase a{
        font-size: 15px;
        background: -webkit-linear-gradient(to right, #a80000, #b30000);
        background: linear-gradient(to right, #a80000, #990202);
        width: auto;
        
    }
 }

 @media (max-width:320px) {
    .Clase a{
        font-size: 18px;
        background: -webkit-linear-gradient(to right, #a80000, #b30000);
        background: linear-gradient(to right, #a80000, #990202);
    }
    .Clase{
        width: 100%;
        background: -webkit-linear-gradient(to right, #a80000, #8b0000);
        background: linear-gradient(to right, #a80000, #a00303);
        margin-top: 15px;
        margin: auto;
    }
 }