<div class="Clase">
    <a [routerLink]="['curriculum']" routerLinkActive="active" >Informacion</a>
    <a [routerLink]="['experiencia']" routerLinkActive="active" >Experiencia</a>
    <a [routerLink]="['educacion']" routerLinkActive="active" >Educacion</a>
    <a [routerLink]="['formulario2']" routerLinkActive="active" >Formulario</a>
    <a [routerLink]="['formulario']" routerLinkActive="active" >Agenda</a>
</div>
<br>
<br>
