<div class="clase">
<h1>
    Educacion
</h1>
    <ul class="EDUCACION">
        <li><b>Colegio venjanmin:</b> AV. Guayacan Zona Sud</li>
        <br>
        <li><b>Instituto Solaning:</b> En Proceso AV. Heroinas Calle Antezana y Venezuela</li>
    </ul>
</div>
<div class="objet">
    <img src="../../../assets/cole1.jpg" alt="">

    <img src="../../../assets/cole2.png" alt="">
</div>
<div class="footer1">
    <br>
    <hr>
    <footer>
        <div>
            <p class="footer2">
                Contactanos por facebook twitter instagran
                para mas informacion
            </p>

            <ul class="footer1">
                <li>Creador:Royer</li>
                <br>
                <li>Correo:Mono231@gmail.com</li>
            </ul>
            <div class="iconos2">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</div>