.objet img {
    width: 350px;
    height: 300px;
    margin: 2%;
    padding-left: 150px;
}

.clase {
    padding-left: 30px;
    font-size: 19px;
}

.iconos2 {
    padding: 1%;
    font-size: 50px;
    display: block;
    letter-spacing: 20px;
    cursor: pointer;
    padding-left: 80px;
    color: black;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
}

.footer1 {
    color: black;

    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;
    background: #000000;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
}

@media (max-width:768px) {
    .footer1 {
        color: black;
    
        font-size: 19px;
        margin-left: 0px;
        margin-right: 0px;
        background: #000000;
        background: -webkit-linear-gradient(to right, #a80000, #000000);
        background: linear-gradient(to right, #a80000, #000000);
    }
    .objet img {
        width: 300px;
        height: 200px;
        margin: 2%;
        padding-left: 230px;
    }
}
@media (max-width:320px) {
    .footer1 {
        color: black;
    
        font-size: 19px;
        margin-left: 0px;
        margin-right: 0px;
        background: #000000;
        background: -webkit-linear-gradient(to right, #a80000, #000000);
        background: linear-gradient(to right, #a80000, #000000);
    }
    .objet img {
        width: 70%;
        height: 200px;
        margin: 2%;
        padding-left: 40px;
    }
}