

.container{
    background-color: white;
    color: black;
    font-size: 10px;

}

.advertencia{
    display: block;
    margin-right: 13%;
    padding-top: 2px;
    color:red;
    font-size: 16px;
}

.box{
    display: block;
    font-size: 15px;
}

.box-dia{
    display: block;
    font-size: 15px;
}