<div class="clase">
<h1>
    Experiencias Laborales
</h1>
<P class="EXPERIENCIAS">Cochabamba</P>
<p class="EXPERIENCIAS">2015-2022</p>
<div class="experiencia">
    <ul>
        <li><b>Armado de computadoras:</b>  2años de experiencia</li>
        <br>
        <li><b>Servicio tecnico de computadoras:</b>  2años de experiencia</li>
    </ul>
</div>
<div  class="objet">
    <img src="../../../assets/pc1.jpg" alt="pc1">

    <img src="../../../assets/pc2.jpg" alt="pc2">
</div>
</div>
<div class="footer1">
    <br>
    <hr>
    <footer>
        <div>
            <p class="footer2">
                Contactanos por facebook twitter instagran
                para mas informacion
            </p>

            <ul class="footer1">
                <li>Creador:Royer</li>
                <br>
                <li>Correo:Mono231@gmail.com</li>
            </ul>
            <div class="iconos2">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</div>