.objet img{
    width: 500px;
    height: 300px;
    margin:2.5%;
    padding-left: 40px;
}
.clase{
    padding-left: 30px;
    font-size: 19px;
}
.iconos2{
    padding: 1%;
    font-size: 50px;
    display: block;
    letter-spacing: 20px;
    cursor: pointer;
    padding-left: 80px;
    color: black;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
}
.footer1{
    color: black;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;

}

i{
    color: black;
}
@media (max-width:768px) {
    .objet img{
        width: 450px;
        height: 200px;
        margin-left: 30px;
        }
    .clase{
        font-size: 20px;
        margin-left: 30px;
    }

    .iconos2{

        font-size: 40px;
        letter-spacing: 20px;
        cursor: pointer;
        background: -webkit-linear-gradient(to right, #a80000, #000000);
        background: linear-gradient(to right, #a80000, #000000);
    }
    .footer1{
        color: black;
        background: -webkit-linear-gradient(to right, #a80000, #000000);
        background: linear-gradient(to right, #a80000, #000000);
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
        width: auto;
    }
    }
    @media (max-width:320px) {
        .objet img{
            width: 90%;
            height: 200px;
            margin-left: -25px;
            }
        .clase{
            font-size: 15px;
            margin-left: -30px;
        }
    
        .iconos2{
    
            font-size: 40px;
            letter-spacing: 18px;
            cursor: pointer;
            background: -webkit-linear-gradient(to right, #a80000, #000000);
            background: linear-gradient(to right, #a80000, #000000);
        }
        .footer1{
            color: black;
            background: -webkit-linear-gradient(to right, #a80000, #000000);
            background: linear-gradient(to right, #a80000, #000000);
            margin-left: 0px;
            margin-right: 0px;
            font-size: 18px;
            width: auto;
        }
    }
