.perfil{
    width:300px;
    height:300px;
    border-radius:250px;
    margin-left: 40%;
    float: left;
    margin-top: 30px;
}

.imagen1{
    height: 45vh;
    width: 50%;
    float: left;
}

.informacion1{
    font-size: 20px;
    width: 50%;
    float: left;
}


h1{
    margin-left: 50px;
}
h2{
    margin-left: 50px;

}

.objetivos{
    margin-left: 50px;

}

.objet{
font-size: 20px;
margin-left: 50px;
}
.imagen2 img{
    width: 500px;
    height: 300px;
    margin:2.5%;
    padding-left: 40px;
}

.iconos1{
    float: left;
    width: 30%;
    padding-left: 80px;
    font-size: 19px;
    background-color: red;
}
.texto22{
    padding-top: 20px;
    background-color: red;
}

.iconos2{
    padding: 1%;
    font-size: 50px;
    display: block;
    letter-spacing: 20px;
    cursor: pointer;
    padding-left: 80px;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    color: black;
}
.footer1{
    color: black;
     background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;

}

@media (max-width:768px) {
    .perfil{
        width:300px;
        height:300px;
        border-radius:250px;
        margin-left: 10%;
        float: left;
        margin-top: 30px;
    }
    .footer1{
        color: black;
         background: -webkit-linear-gradient(to right, #a80000, #000000);
        background: linear-gradient(to right, #a80000, #000000);
        font-size: 19px;
        margin-left: 0px;
        margin-right: 0px;
    
    }
    
    .imagen2 img{
        width: 500px;
        height: 250px;
        margin:2.5%;
        padding-left: 90px;
    }
    }

    @media (max-width:320px) {
        .imagen2 img{
            width: 300px;
            height: 250px;
            margin:2.5%;
            padding-left: 5px;
        }
        .informacion1{
            font-size: 20px;
            width: 100%;
        }
        .objet{
            font-size: 20px;
            margin-left: 50px;
            width: 100%;
            float: left;
            }
    }
