<h1>
    Informacion Personal
</h1>
<br>
<br>
<h2>Informaci&oacute;n de contacto</h2>
<br>
<div class="imagen1">
    <img src="../../../assets/CX.jpg" alt="perfil" class="perfil">
</div>
<div class="informacion1">
    <ul>
        <li><b>Nombre y Apellido:</b> Royer Andres</li>
        <br>
        <li><b>Apellidos:</b>Pelaez</li>
        <br>
        <li><b>Email:</b></li>
        <br>
        <li><b>Direcci&oacute;n:</b> Campo ferial</li>
        <br>
        <li><b>Tel&eacute;fono:</b> 76493567</li>
        <br>
        <li><b>Fecha de nacimiento:</b> 22/01/2002</li>
        <br>
        <li><b>Nacionalidad:</b> Boliviana</li>
    </ul>
</div>
<hr>
<br>
<br>
<br>
<h2 class="objet">Objetivo Profesional</h2>
    <p class="objet">
        Completar mis estudios en ingenieria de sistemas, fundar mi propia empresa de desarrollo web
    </p>
    <div class="imagen2">
        <img src="../../../assets/consejos-para-encontrar-empleo.png" alt="">
        <img src="../../../assets/c7e02c0d916b4b910876c90be63a1232770112ff571d0fc6_840.jpg" alt="">
    </div>
    <div class="footer1">
        <br>
        <hr>
        <footer>
            <div>
                <p class="footer2">
                    Contactanos por facebook twitter instagran
                    para mas informacion
                </p>
    
                <ul class="footer1">
                    <li>Creador:Royer</li>
                    <br>
                    <li>Correo:Mono231@gmail.com</li>
                </ul>
                <div class="iconos2">
                    <a href="https://es-la.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>