<div class="cuerpo">
    <form [formGroup]="form">
      <div class="form-contenido">
        <h1>Ver cita </h1>
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" 
          formControlName="nombre" 
          readonly
          />
        </mat-form-field>
  
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput autocomplete="off" 
          formControlName="apellido" readonly/>
        </mat-form-field>
  
  
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput 
          autocomplete="off" 
          formControlName="correo"
          readonly
          />
        </mat-form-field>
  
  
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput 
          autocomplete="off"
          formControlName="celular" 
          readonly
        />
        </mat-form-field>
  
  
        <mat-form-field class="cajas-dia"  >
          <mat-label>Fecha</mat-label>
          <input matInput 
          autocomplete="off" 
          type="date" 
          formControlName="fecha"
          readonly
          />
        </mat-form-field>
  
        <mat-form-field class="cajas-dia" appearance="fill">
          <mat-label>Hora</mat-label>
          <input matInput 
          autocomplete="off"  
          type="time" 
          formControlName="hora"
          readonly
          />
        </mat-form-field>
  
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea matInput placeholder="mensaje" formControlName="descripcion"
          readonly
          ></textarea>
        </mat-form-field>
  
  
        <button mat-raised-button class="cajas btn" type="submit"(click)="Volver()" >Volver</button>
  
      </div>
    </form>
  </div>
  
  
  