
.contenedor {
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
        background: url(../../../assets/tecno222.jfif) no-repeat center top;
    background-position:  center;
    background-size: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 90%;
    margin: 0 5%;
    color: black;
}

.example-container {
    height: 450px;
    overflow: auto;
}

table {
    width: 100%;
    background-color: azure;

}

section {
    width: 90%;
    margin: 3% auto;
}

.tabla {
    display: flex;
    /* margin: 2% 3%; */

}

th {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: red;
}

td {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.arriba h1 {
    display: inline;
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 300;
    font-size: 9vh;
    font-family: 'Abril Fatface', cursive;
}

.btn {
    display: inline;
    float: right;
    width: 15%;
    height: 2.3rem;
}

.arriba {

    display: inline-block;
    justify-content: space-between;
    width: 100%;
}
.iconos2{
    padding: 1%;
    font-size: 50px;
    display: block;
    letter-spacing: 20px;
    cursor: pointer;
    padding-left: 80px;
    background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    color: black;
}
.footer1{
    color: black;
     background: -webkit-linear-gradient(to right, #a80000, #000000);
    background: linear-gradient(to right, #a80000, #000000);
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;

}

@media (max-width:767px) {
    .footer1{
        color: black;
         background: -webkit-linear-gradient(to right, #a80000, #000000);
        background: linear-gradient(to right, #a80000, #000000);
        font-size: 19px;
        margin-left: 0px;
        margin-right:0px;
    
    }
    .contenedor {
        background-repeat: no-repeat;
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
        padding: 2%;
        background: url(../../../assets/tecno222.jfif) no-repeat center top;
 

    }
    .btn {
        display: inline;
        float: left;
        width: 30%;
        height: 2.3rem;
        font-size: 15px;
    }
}
