<div class="contenedor">

    <div>
      <h1>-Citas registradas-</h1>
    <button mat-raised-button color="primary" routerLink="/agregar/nuevo" class="btn">Agendar</button>
    
    </div>
  
  <!-- Filtro -->
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <!-- Tabla -->
  <div class="tabla">
  <section class="example-container" tabindex="3">
    <table mat-table [dataSource]="dataSource"  >
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>
  
      <!-- Apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
      </ng-container>
  
      <!-- Correo Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
      </ng-container>
    
  
      <!-- Celular Column -->
      <ng-container matColumnDef="celular" class="dato-corto" >
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let element">{{ element.celular }}</td>
      </ng-container>
  
      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef class="dato-corto">Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
      </ng-container>
  
      <!-- Hora Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef class="dato-corto">Hora</th>
        <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
      </ng-container>
  
      <!-- descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>
  
      <ng-container matColumnDef="acciones"> 
        <th mat-header-cell *matHeaderCellDef class="dato-corto"></th>
        <td mat-cell *matCellDef="let element, let i = index">
          <!-- Ver -->
          <a class="icono-1 pointer" matTooltip="Ver Usuario"
          (click)="ver(element.nombre)">
            <mat-icon>search</mat-icon>
          </a>
      
          <a class="icono-2 pointer" matTooltip="Editar Usuario"
          (click)="modificarCita(element.nombre)"
         >
          <mat-icon>edit</mat-icon>
          </a>
          <!-- Eliminar -->
          <a class="icono-3 pointer" matTooltip="Eliminar Usuario" (click)="eliminarCita(element.nombre)">
          <mat-icon>delete</mat-icon>
          </a>   
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  </div>
  </div>
  <div class="footer1">
    <br>
    <hr>
    <footer>
        <div>
            <p class="footer2">
                Contactanos por facebook twitter instagran
                para mas informacion
            </p>

            <ul class="footer1">
                <li>Creador:Royer</li>
                <br>
                <li>Correo:Mono231@gmail.com</li>
            </ul>
            <div class="iconos2">
                <a href="https://es-la.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</div>