html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color: black;
    color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
